:root {
  --total-slides: 4;
}

body {
  background: #4f5253;
  margin: 0;
  padding: 0;
}

.slider-container {
  overflow: hidden;
  margin: 1vw 2.5vw;
}

.slider {
  display: flex;
  column-gap: 5vw;
  width: calc(var(--total-slides) * 100vw);
  margin-top: -4vw;
  font-size: 0;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  width: 95vw;
  max-height: 83vh;
  display: inline-block;
  border-radius: 1rem;
}

#radio1:checked ~ .slider {
  transform: translateX(0);
}

#radio1:checked ~ .text-1 {
  transform: translate(0, 2.4vw);
}

#radio1:checked ~ .checkmark-1 {
  background: #4f5253;
  border: 0.2vw solid #f1ed10;
}

#radio2:checked ~ .slider {
  transform: translateX(-100vw);
}

#radio2:checked ~ .text-2 {
  transform: translate(0, 0.3vw);
}

#radio3:checked ~ .slider {
  transform: translateX(-200vw);
}

#radio3:checked ~ .text-3 {
  transform: translate(0, -1.7vw);
}

#radio4:checked ~ .slider {
  transform: translateX(-300vw);
}

#radio4:checked ~ .text-4 {
  transform: translate(0, -3.7vw);
}

.description {
  width: 70vw;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  color: #ffffff;
  transform: translateX(-100vw);
}

.yellow {
  color: #f1ed10;
}

input[type="radio"] {
  display: inline-block;
  transform: translate(77vw, 86vh);
  width: 4vw;
  height: 4vw;
  visibility: hidden;
  margin: 0;
  cursor: pointer;
}

input[type="radio"]:hover::before {
  background: #ffffff;
}

input[type="radio"]:checked:hover::before {
  border: 0.35vw solid #ffffff;
}

input[type="radio"]::after {
  content: "";
  display: block;
  width: 4vw;
  height: 3vw;
  visibility: visible;
}

input[type="radio"]::before {
  position: relative;
  top: 1vw;
  left: 1vw;
  content: "";
  display: block;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #f1ed10;
  visibility: visible;
  transition: all 0.5s ease;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: relative;
  top: 1vw;
  left: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border: 0.35vw solid #f1ed10;
  background: #4f5253;
  visibility: visible;
  transition: all 0.5s ease;
}

.label-nav {
  display: flex;
  position: relative;
}

.label {
  width: 4vw;
  height: 4vw;
  background: red;
}
